<a routerLink = '/'> Back</a>

<h2>
    Add New Product
</h2>
<form id = "formNewProduct" name= "formNewProduct" #productData ="ngForm" (ngSubmit) = "addNewProduct(productData.value)">
    <label>Name: </label><input type ="text" name ="name" id ="name" placeholder="Name" ngModel><br>
    <label>Color: </label><input type ="text" name ="color" id ="color" placeholder="Color" ngModel><br>
    <input type = "submit" value = "Add New Product">
</form>

<br>

<h3 *ngIf = "isAdded" > {{addedProductMessage}} </h3>

